/*Déclaration de la police*/

@font-face {
font-family: 'canalbolditalique';
src: url('fonts/canalbolditalique.eot');
src: url('fonts/canalbolditalique.eot?#iefix') format('embedded-opentype'),
     url('fonts/canalbolditalique.ttf') format('truetype'),
     url('fonts/CanalBoldItalique.otf') format('truetype');
}

@font-face {
font-family: 'canalboldromain';
src: url('fonts/canalboldromain.eot');
src: url('fonts/canalboldromain.eot?#iefix') format('embedded-opentype'),
     url('fonts/canalboldromain.ttf') format('truetype'),
     url('fonts/CanalBoldRomain.otf') format('truetype');
}

@font-face {
font-family: 'canaldemitalique';
src: url('fonts/canaldemitalique.eot');
src: url('fonts/canaldemitalique.eot?#iefix') format('embedded-opentype'),
     url('fonts/canaldemitalique.ttf') format('truetype'),
     url('fonts/CanalDemItalique.otf') format('truetype');
}

@font-face {
font-family: 'canaldemiromain';
src: url('fonts/canaldemiromain.eot');
src: url('fonts/canaldemiromain.eot?#iefix') format('embedded-opentype'),
     url('fonts/canaldemiromain.ttf') format('truetype'),
     url('fonts/CanalDemiRomain.otf') format('truetype');
}

@font-face {
font-family: 'canallightitalique';
src: url('fonts/canallightitalique.eot');
src: url('fonts/canallightitalique.eot?#iefix') format('embedded-opentype'),
     url('fonts/canallightitalique.ttf') format('truetype'),
     url('fonts/CanalLightItalique.otf') format('truetype');
}

@font-face {
font-family: 'canallightromain';
src: url('fonts/canallightromain.eot');
src: url('fonts/canallightromain.eot?#iefix') format('embedded-opentype'),
     url('fonts/canallightromain.ttf') format('truetype'),
     url('fonts/CanalLightRomain.otf') format('truetype');
}

@font-face {
font-family: 'canalsymboles';
src: url('fonts/canalsymboles.eot');
src: url('fonts/canalsymboles.eot?#iefix') format('embedded-opentype'),
     url('fonts/canalsymboles.ttf') format('truetype'),
     url('fonts/CanalSymboles.otf') format('truetype');
}

.bolditalique{font-family: "canalbolditalique";}
.boldromain{font-family: "canalboldromain";}
.demitalique{font-family: "canaldemitalique";}
.demiromain{font-family: "canaldemiromain";}
.lightitalique{font-family: "canallightitalique";}
.lightromain{font-family: "canallightromain";}
.symboles{font-family: "canalsymboles";}


body,.panel{
	background-color: #000;
	color: #fff;
	font-family: "canaldemiromain";
}
.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}
.panel-default {
	border: 0px solid #000;
	border-bottom: 1px solid #ccc;
}
.panel-title{
	font-size: 24px;
	font-weight: 700;
}
.panel-default>.panel-heading{
	background-color: #000;
	color: #fff;
}
a:hover{
	text-decoration: none;
}
.headerimg{
     margin-bottom: 20px;
}
.form-dateselectz{
  
}
