{% extends 'nkgPollBundle::base.html.twig' %}
{% block body %}
<div class="container">
  <div class="row">
    <h1>Votre vote a déjà été enregistré. Merci pour votre participation</h1>
  </div>
</div>
{% endblock %}
