{% extends 'nkgPollBundle::base.html.twig' %}
{% block body %}
<div class="container">
  <div class="row">
    <h1>Merci pour votre participation</h1>
  </div>
  <div class="row">
    <a class="btn btn-default btn-sm" href="{{ path('_frontresult' , {'poll_id': poll_id } ) }}">RESULTATS</a>
  </div>
</div>
{% endblock %}
