{% extends 'nkgPollBundle::base.html.twig' %}
{% block body %}
<div class="container">
  <div class="row">
    <h1>Résultat du sondage</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-striped">
    		<thead>
    			<td>LIBELLÉ</td>
    			<td>Votes</td>
    			<td>%</td>
    		</thead>
    		<tbody>
          {% for opinion in opinionz %}
            <tr>
              <td>{{opinion.libelle}}</td>
              <td>{{opinion.votes}}</td>
              <td>{{opinion.pct|round(2, 'floor')}}</td>
            </tr>
          {% endfor %}
    		</tbody>
    	</table>
    </div>
  </div>

</div>
{% endblock %}
